@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9d3ff;
  font-size: 13px;
  overflow-x: hidden;
  color: palevioletred;
  font-family: "sans-serif";
}

a {
  text-decoration: none;
}

.login-card {
  display: block;
  position: relative;
  border-radius: 8px;
  margin-top: 15px;
}

.login-card.auth-body {
  width: 530px;
  left: 30%;
  right: 30%;
}

.authbox {
  padding: 20px;
  border-radius: 8px;
  border-color: brown;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
  font-size: 50px;
  color: pink;
}

.input-group {
  width: 490px;
  margin-bottom: 10px;
}

.input-group input {
  border-radius: 5px;
}

.signupbtn {
  width: 490px;
  border-radius: 7px;
  color: white;
  padding: 8px;
}
