@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-size: 13px;
  overflow-x: hidden;
  color: peru;
  font-family: "sans-serif";
}

a {
  text-decoration: none;
}

.login-card {
  display: block;
  position: relative;
  border-radius: 8px;
  margin-top: 15px;
}

.login-card.auth-body {
  width: 530px;
  left: 30%;
  right: 30%;
}

.authbox {
  padding: 20px;
  border-radius: 8px;
  border-color: brown;
  background-color: honeydew;
  opacity: 0.95;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
  font-size: 50px;
  color: pink;
}

.input-group {
  width: 490px;
  margin-bottom: 10px;
}

.input-group input {
  border-radius: 5px;
}

.signupbtn {
  width: 490px;
  border-radius: 7px;
  color: white;
  padding: 8px;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
}

.header_container {
  width: 100%;
  height: 100%;
  background-color: wheat;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.brand-logo-header {
  font-family: "Gran Hotel", cursive;
  font-size: 40px;
  color: palevioletred;
  padding: 15px;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.logoutbtn {
  border: none;
  background-color: orange;
  height: auto;
  width: auto;
  font-size: 25px;
  border-radius: 25%;
  margin-top: 3px;
}

/* homepage */

.main-container {
  max-width: 100%;

  @media screen and (max-width: 900px) {
    max-width: 100%;
  }
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.inner-container {
  max-width: 95%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: row;
}
.left-section {
  max-width: 100%;
  max-height: 100%;
}
.right-section {
  width: 350px;
  padding-top: 102px;
  padding-left: 120px;
  max-width: 100%;
}

@media only screen and (max-width: 1200px) {
  .right-section {
    right: 70px;
  }
}

@media only screen and (max-width: 1000px) {
  .right-section {
    display: none;
  }
}
.post-list {
  background-color: plum;
}

.image {
  background-image: url(/src/assets/icon/justDoIt.png);
}

.post {
  width: 650px;
  height: auto;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  background-color: plum;
  margin-bottom: 30px;
  padding-bottom: 12px;
  max-width: 100%;
  @media screen and (max-width: 900px) {
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.p_d {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.p_inner {
  width: 200px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}

.p_p {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid salmon;
}

.p_name {
  color: #262626;
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
}

.threedots {
  width: 30px;
  margin-right: 10px;
  font-size: 16px;
  margin-top: 16px;
}

.p-image {
  height: 400px;
  margin-top: 12px;
  object-fit: cover;
  border: pink 1px;
}

.pp_full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: pink 1px;
}

.postbody {
  display: inline;
  font-size: 30px;
  color: black;

  width: 500px;
}

.big-avatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.d-block {
  color: black;
  font-weight: 600;
}

.suggestbtn {
  font-size: 12px;
  padding: 8px;
  font-weight: bold;
}

.sug-avatar {
  width: 35px;
  height: 32px;
  border-radius: 35px;
}

.postcontainer {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.postform {
  width: 550px;
  height: 400px;
  background-color: #e8e4e8;
  border-radius: 12px;
}

.homeIcon {
  object-fit: cover;
  border-radius: 50%;
  height: 45px;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
}

.header_container {
  width: 100%;
  height: 100%;
  background-color: wheat;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.iconbar {
  width: auto;
  height: auto;
  margin-left: auto;

  @media screen and (max-width: 900px) {
    position: absolute;
    right: 35%;

    top: 0;

    max-width: 100%;
    align-items: center;
  }
}

/* link > img {
  width: 5000px;
} */

.profileIcon {
  width: 60px;
  height: 45px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 50%;
}

.addPostIcon {
  margin-left: 5px;
  margin-right: 5px;
  height: 45px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbox {
  margin-right: auto;
  margin-left: auto;
  background-color: brown;
  position: fixed;
  width: 500px;
  max-width: 100%;
  @media screen and (max-width: 900px) {
    display: none;
  }
}
